@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
    text-decoration: none;
}
#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 2px solid rgba(0, 22, 22, 0.4);
}
#navbar header {
    text-align: center;
    font-size: large;
    padding: 20px 0;
}
#navbar header a {
    font-family: 'Ubuntu';
    font-weight: 600;
    color: black;
}
#navbar ul li {
    list-style-type: none;
}
.nav-link {
    display: block;
    padding: 15px 20px;
    font-size: medium;
    border-top: 1px solid black;
    color: #4d4e53;
}
#main-doc {
    position: absolute;
    left: 320px;
    padding-left: 10px;
    padding-top: 20px;
}
.main-section {
    margin-bottom: 30px;
}
.main-section header {
    padding: 10px 0;
}
.main-section article {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .2px;
    padding: 0 20px;
}
.main-section article p {
    padding: 10px 0;
}
.main-section article ul {
    padding-left: 60px;
}
.main-section article li {
    padding: 8px 0;
}
.main-section article code {
    display: block;
    margin: 10px 10px;
    padding: 20px 10px;
    background-color: #f7f7f7;
}
.main-section article code a {
    display: block;
    font-family: 'Noto Sans Mono', monospace;
    font-size: small;
}
@media (max-width: 960px) {
    #navbar {
        position: absolute;
        top: 0;
        width: 100%;
        max-height: 350px;
    }
    #navbar ul {
        max-height: 200px;
        overflow-y: scroll;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    #main-doc {
        position: absolute;
        top: 290px;
        left: 0;
    }
}