@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
:root {
    --color-brand-primary: #3863d9;
    --color-line-gray: #b9b9b9;
    --color-black: #555555;
    --width-project-min: 250px;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-family: "Rubik", sans-serif;
    font-size: 100%;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
a {
    text-decoration: none;
    color: var(--color-black);
}
li {
    list-style: none;
}

.container {
    grid-column: 2 / 12;
}

/* navbar style */
.navbar {
    margin-top: 28px;
    border-top: 1px var(--color-line-gray) solid;
    margin-bottom: 4vw;
}
.navbar ul {
    display: flex;
}
.navbar ul li a {
    display: block;
    padding: 0.7rem 1rem;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--color-black);
}
.navbar ul li a:hover {
    color: var(--color-brand-primary);
}

/* welcome section style */
.welcome-section {
    margin-bottom: 5vw;
}
.welcome-section > h2 {
    font-size: calc(16px + 1vw);
    font-weight: 700;
    line-height: 1.35;
    color: var(--color-black);
    margin-bottom: 0.5em;
}
.welcome-section > p {
    font-size: calc(12px + 0.5vw);
    color: var(--color-black);
    max-width: 950px;
    line-height: 1.6;
}

/* project section style */
.projects {
    margin-bottom: 5vw;
}
.projects > h2 {
    width: 100%;
    font-size: 28px;
    color: var(--color-brand-primary);
    font-weight: 700;
    margin-bottom: 24px;
}
#profile-link, i {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
}
.project-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--width-project-min), 1fr));
    gap: 24px;
}
.project img {
    max-width: 100%;
    height: auto;
}
.project-title {
    font-size: calc(16px + 0.4vw);
    color: var(--color-black);
    font-weight: 500px;
    margin-top: 8px;
}

/* footer style */
.footer {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 80px 0;
    border-top: 1px var(--color-line-gray) solid;
}
.footer h3 {
    color: #363636;
    font-size: calc(15px + 0.5vw);
    font-weight: 400;
    line-height: 1.5;
}
.copy, .find {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.copy p {
    font-size: calc(10px + 0.5vw);
    color: var(--color-black);
}
.find ul {
    display: flex;
    flex-wrap: wrap;
    gap: calc(12px + 0.5vw);
    font-size: calc(10px + 0.5vw);
    font-weight: 900px;
}

/* media style */
@media (max-width: 1200px) {
    .project-area {
        flex-wrap: wrap;
    }
}
@media (max-width: 1000px) {
    .footer {
        flex-direction: column-reverse;
        gap: 20px;
        padding-bottom: 40px;
    }
}