@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$color-black: #000000;
$color-silver-sand: #C4C4C4;
$size-section-gap: 1.5rem;
$size-content-gap: 0.9rem;

html,
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    inline-size: 100vw;
    block-size: 100vh;
}

.flex-1 {
    flex: 1;
}

.section-gap {
    margin-block-end: $size-section-gap;
}

.content-gap {
    margin-block-end: $size-content-gap;
}

@mixin theme($radius: 3px, $size: 2.5rem) {
    inline-size: 100%;
    font-size: inherit;
    border-radius: $radius;
    block-size: $size;
}

@mixin box-theme {
    inline-size: 20rem;
    font-size: 1rem;
}

.form-container {
    padding: 0 1rem;

    .form-box {
        @include box-theme;
        .form {
            .form-input {
                @include theme;
                border: 0.5px solid $color-silver-sand;
                padding: 0 1em;
            }
            .form-input::placeholder {
                color: $color-silver-sand;
            }
            .login-btn {
                @include theme($size: 2.8rem);
                color: white;
                background-color: $color-black;
                border: none;
            }
            .login-btn:hover {
                background-color: white;
                border: 1.5px solid $color-black;
                color: $color-black;
            }
        }
    }
    .or-text {
        @include box-theme;
        color: $color-silver-sand;
        gap: 0.8rem;
        .line {
            height: 1px;
            background-color: $color-silver-sand;
        }
    }
    .btn-box {
        @include box-theme;
        .social-btn {
            @include theme;
            border: 0.5px solid $color-silver-sand;
            font-weight: 500;
            gap: 0.5rem;
        }
        .social-btn:hover {
            border: 1.5px solid $color-black;
        }
    }
}

.pane-box {
    background-image: url('./assets/Right-Pane.jpg');
}

@media screen and (max-width: 900px) {
    .pane-box {
        display: none;
    }
}