@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html,
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  inline-size: 100vw;
  block-size: 100vh;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-gap {
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}

.content-gap {
  -webkit-margin-after: 0.9rem;
          margin-block-end: 0.9rem;
}

.form-container {
  padding: 0 1rem;
}

.form-container .form-box {
  inline-size: 20rem;
  font-size: 1rem;
}

.form-container .form-box .form .form-input {
  inline-size: 100%;
  font-size: inherit;
  border-radius: 3px;
  block-size: 2.5rem;
  border: 0.5px solid #C4C4C4;
  padding: 0 1em;
}

.form-container .form-box .form .form-input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.form-container .form-box .form .form-input:-ms-input-placeholder {
  color: #C4C4C4;
}

.form-container .form-box .form .form-input::-ms-input-placeholder {
  color: #C4C4C4;
}

.form-container .form-box .form .form-input::placeholder {
  color: #C4C4C4;
}

.form-container .form-box .form .login-btn {
  inline-size: 100%;
  font-size: inherit;
  border-radius: 3px;
  block-size: 2.8rem;
  color: white;
  background-color: #000000;
  border: none;
}

.form-container .form-box .form .login-btn:hover {
  background-color: white;
  border: 1.5px solid #000000;
  color: #000000;
}

.form-container .or-text {
  inline-size: 20rem;
  font-size: 1rem;
  color: #C4C4C4;
  gap: 0.8rem;
}

.form-container .or-text .line {
  height: 1px;
  background-color: #C4C4C4;
}

.form-container .btn-box {
  inline-size: 20rem;
  font-size: 1rem;
}

.form-container .btn-box .social-btn {
  inline-size: 100%;
  font-size: inherit;
  border-radius: 3px;
  block-size: 2.5rem;
  border: 0.5px solid #C4C4C4;
  font-weight: 500;
  gap: 0.5rem;
}

.form-container .btn-box .social-btn:hover {
  border: 1.5px solid #000000;
}

.pane-box {
  background-image: url("./assets/Right-Pane.jpg");
}

@media screen and (max-width: 900px) {
  .pane-box {
    display: none;
  }
}
