body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #f6f6f6;
    font-size: 0.5em;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}