//container
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

//header
.site-header {
    width:25%;
    padding: 50px 50px 20px;
    float: left;
    .wrapper {
        .site-title {
            color: #a00;
            font-weight: bold;
            font-size: 2em;
        }
        .site-nav {
            padding-top: 40px;
            color: #aaa;
            font-size: 1.6em;
            font-weight: bold;
            .trigger {
                .page-link {
                    line-height: 2em;
                }
            }
        }
        .rss-subscribe {
            padding-top: 50px;
        }
    }
}

//content
.page-content {
    padding: 50px 50px 50px 20px;
    float: left;
    width: 75%;
    .wrapper {
        .home {
            .post-list {
                margin: 0;
                padding: 0; 
                li {
                    line-height: 2em;
                    .post-meta {
                        font-size: 1.1em;
                        color: gray;
                    }
                    .post-link {
                        font-size: 1.8em;
                    }
                }
            }
        }
        .post {
            .post-header {
                .post-title {
                    font-size: 2.8em;
                }
                .post-meta {
                    line-height: 1.2em;
                    color: gray;
                }
            }
            .post-content {
                padding-top: 0.2em;
                blockquote {
                    font-size: 0.9em;
                    margin: 10px 0px;
                    padding-left: 15px;
                    border-left: 3px solid #ccc;
                }
                p, ol, ul {
                    margin: 15px 0;
                    line-height: 1.9em;
                    font-size: 1.8em;
                }
                ul {
                    li {
                        list-style: disc;
                        ul {
                            line-height: 1.6em;
                            font-size: 1em;
                            li {
                                list-style: circle;
                            }
                        }
                        ol {
                            line-height: 1.6em;
                            font-size: 1em;
                            li {
                                list-style: lower-alpha;
                            }
                        }
                    }
                }
                ol {
                    li {
                        list-style: decimal;
                        ul {
                            line-height: 1.6em;
                            font-size: 1em;
                            li {
                                list-style: circle;
                            }
                        }
                        ol {
                            line-height: 1.6em;
                            font-size: 1em;
                            li {
                                list-style: lower-alpha;
                            }
                        }
                    }
                }
                h1 {
                    font-size: 2.4em;
                }
                h2 {
                    font-size: 2.2em;
                }
                h3 {
                    font-size: 2.0em;
                }
                h4 {
                    font-size: 1.8em;
                }
                h5 {
                    font-size: 1.6em;
                }
                h6 {
                    font-size: 1.5em;
                }
            }
        }
    }
}

//footer
.site-footer {
    margin-top: 30px;
    padding: 20px 50px;
    clear: left;
    border-top: 2px solid #eee;
    position: relative;
    .wrapper {
        p {
            line-height: 2.0em;
        }
    }  
}