#settingFrame {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: 900px; */
  width: 0vw;
  height: 100vh;
  background-color: #4d4d4d;
  /* visibility: hidden; */
  /* background-color: #4d4d4d; */
  border-radius: 8px;
  box-shadow: 4px 4px 8px #000;
  /* position: fixed;
  z-index: 10; */
  top: 0;
  right: 0;
  overflow: hidden;
  transition: width 0.2s ease;
}

#searchAndQuit {
  display: flex;
  align-items: center;
  width: 100%;
}

#searchForSetting {
  min-width: 70px;
  flex-grow: 1;
  height: 50px;
  border-radius: 8px;
  border: 3px solid #313131;
  background-color: #4d4d4d;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

#settingQuit {
  padding: 0;
  margin: 0;
  border-radius: 30%;
  transition: background-color 0.2s ease;
}

#settingQuit:hover {
  background-color: #7e7e7e;
}

#settingList {
  list-style: none;
  padding: 0;
  margin: 10px;
  align-self: flex-start;
}

#settingList .theme {
  font-size: 45px;
  font-weight: bold;
  color: #3658b4;
}

#settingList .subList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#settingList .listContent {
  margin: 0 30px;
  font-size: 25px;
  color: #ffffff;
}
