.settingChoice {
  display: flex;
  min-width: 100px;
  min-height: 50px;
  font-size: 20px;
}

.choiceOption {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 80px;
  height: 45px;
  /* background-color: #747474; */
  border-radius: 25px;
  margin: 0 15px;
  padding: 0 20px;
  color: #fff;
}

.choiceOption .choice {
  position: relative;
  z-index: 2; /* 确保文字在最上层 */
  margin: 0 20px 0 0;
}

.choiceOption .lastChoice {
  position: relative;
  z-index: 2; /* 确保文字在最上层 */
  margin: 0;
}

.choiceOption .choiceShadow {
  position: absolute;
  padding: 3px;
  z-index: 1;
  /* min-width: 20px;
  min-height: 20px; */
  background-color: #a1a1a1;
  border-radius: 25px;
  transition: left 0.3s ease, top 0.3s ease, width 0.3s ease, height 0.3s ease;
}
