#sidebar {
  padding: 15px 0;

  width: 40px;
  height: 100vh;

  background-color: #333333;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 25px;
  overflow: hidden;
  transition: width 0.3s ease;
  position: static;
}

#sidebar li {
  height: 40px;
  flex-shrink: 0;
}

#sidebar:hover {
  width: 200px;
}

#siderList {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 8px 0;

  width: 130px;
}

/*#siderList li {
        width: 130px;
      }*/

#siderList li:hover {
  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;
  font-weight: bold;
  transition: font-weight 0.3s ease, background-color 0.3s ease;
}

#siderPicList {
  /* box-sizing: border-box;
        width: 40px; */
  width: 24px;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 8px;
}
